/* .Feidetail-container{
}
button{
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 1rem;
    background-color: antiquewhite;
}
.FeiDetails{
    color: antiquewhite;
    border: 2px solid snow;
    width: fit-content;
    padding: 0 6rem ;
    margin: auto;
} */